body
    font-family: Helvetica, Arial
    line-height: 1.4

    width: 1000px
    margin: 0 auto

a
    color: rgb(65, 131, 196)
    text-decoration: none

    &:hover
        text-decoration: underline
