body
    font-family: Helvetica, Arial
    line-height: 1.4

    width: 1000px
    margin: 0 auto

h1
    font-size: 40px
    margin-bottom: 20px

label
    display: block
    margin-bottom: 20px

#repo
    width: 200px

main.error
    color: red
    white-space: pre

a
    color: rgb(65, 131, 196)
    text-decoration: none

    &:hover
        text-decoration: underline
